<ModConfiguration>
  <Id>ReikaKalseki.RoomEnvironmentals</Id>
  <Name>Room Environmentals</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
Overhauls room environmental effects, by changing how environmental effectors work, adding new environmental effects from additional block types, and applying those environmental values to more block types. For example, blast furnaces and the C5 from FF now also heat rooms - more powerfully than base heaters - and heated rooms prevent belts from freezing, even in the Cold Caverns, and keep your grappling hook from freezing.

The mod also changes how heat flux in and out of rooms behaves; now the power cost to heat or cool a room only scales with volume while the temperature is still changing; once the temperature is stable, the "maintenance" power cost is proportional to the surface area.
  </Description>
</ModConfiguration>